<!DOCTYPE html>
<html>
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Grand Elite Hotel - Login</title>
    <link rel="stylesheet" href={% static "css/firstapp/style.css" %} media="screen" type="text/css" />
</head>
<body>
  <html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 <![endif]-->
  </head>
  <body>
    {% block content %}
    <div class="container">
      <div id="login">
        <form action="/login/" method="post">
          {% csrf_token %}
          <fieldset class="clearfix">
            <h1 style="color: white;text-align:center;font-size:large">MEMBER LOGIN </h1>
            <br>
            <p><span class="fontawesome-user"></span><input type="text" name="uname" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
            <p><span class="fontawesome-lock"></span><input type="password" name="password1" value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
            <p><input type="submit" value="Sign In"></p>
          </fieldset>
        </form>
        <p>Not a member? <a href="/signup/">Sign up now</a><span class="fontawesome-arrow-right"></span></p>
<br>
{% for i in messages %} 
      <h1 style="color:white;text-align: center;">{{i}}</h1>
      {% endfor %}
      </div> <!-- end login -->
    </div>
  {% endblock %}
  </body>
</html>
</body>
</html>