<html>
{% load static %}
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
  {% block content %}
    <!-- navbar -->
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">GRAND ELITE HOTEL</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about/">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/service/">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/gallery/">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reservation/">Reservations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/order/">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact/">Contact Us</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="/login/">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/signup/">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- nav -->
  <br>
  <div class="alert alert-success" role="alert">
  
  <center><h1 style="font-style:italic;">🔔Featured Services</h1></center></div>
  <hr>
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <img src={% static "images/firstapp/img1.jpg" %} alt="img" width="120%" height="110%">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            <h3 style="font-style:initial;"><b>Room Booking</b></h3>
            <h5>A hotel is an establishment that provides paid lodging on a short-term basis. Facilities provided inside a hotel room may range from a modest-quality mattress in a small room to large suites with bigger, higher-quality beds, a dresser, a refrigerator and other kitchen facilities, upholstered chairs, a flat screen television, and en-suite bathrooms. Small, lower-priced hotels may offer only the mast basic guest services and facilities. Larger, higher-priced hotels may provide additional guest facilities such as a swimming pool, business centre (with computers, printers, and other office equippent), childcare, conference and event facilities, tennis or basketball courts, gymnasium, restaurants, day spa, and social function services.
            </h5>

        </div>
    </div>
    <br>
    <hr>
    <div class="row">
      <div class="col-md-8">
        <h3 style="font-style:initial;"><b>Meeting and Conference Services</b></h3>
        <h5>Meeting and Conference Services would like to remind anyone filling out an event request that you must submit it at least 4 business days in advance of the event date.  Due to current COVID related policies, please request space for your event that will accommodate social distancing guidelines. As a reminder, all participants will be expected to follow University procedures, such as wearing facial coverings for the duration of the event. We look forward to assisting you with your meetings & events again this semester.We have reconfigured, re-imagined, and realigned events to help ensure we are following CDC guidelines. We will utilize social distancing measures where feasible, and implement ticketing to help promote social distancing at large gatherings.</h5>

    </div>
        
        <div class="col-md-3">
          <img src={% static "images/firstapp/img2.jpg" %} alt="img" width="120%" height="100%">
      </div>
    </div>
    <br>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <img src={% static "images/firstapp/img3.webp" %} alt="img" width="120%" height="100%">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
            <h3 style="font-style:initial;"><b>Marriage Party Arrangements</b></h3>
            <h5>We Provide a High Class Arrangement for Wedding.We Give Many Choices fo grooms to select the arrngements.We also accept the idea of bride of the hall arrangement.We have an hall which can occupy of 700+ people.We also provide a car parking.We also have rooms for the grooms rekations.We provide a 24 hours facility of water and electricity.We also have large dining hall,in which 300 people can eat same at a time.We are located in main way so it is easy for peoples to locate the avenue.Centrallised Air Conditioner was all around the hall so you can feel a chill climate.We have a highly talented workers so we provide fast and time delivery.</h5>
        </div>
    </div>
    <br>
    <hr>
    <div class="row">
      <div class="col-md-8">
        <h3 style="font-style:initial;"><b>Bulk Room Booking</b></h3>
        <h5>Make sure your guests have the perfect place to stay during your wedding celebrations by reserving a block Bulk room. If many of your guests will be traveling to attend your wedding celebrations, it's important to provide them with the right accommodations that are located at the wedding venue. We Provide a Perfect and comfort rooms for your guests at the most competitive pricing.Our Bulk room booking services can be further customised to include transportation that will ensure that your guests arrive on time to the wedding and safely return back to the hotel at the end of the celebrations.At Marriage Colours we ensure an outstanding wedding experience for your guests through a combination of unique accommodation options, unparalleled facilities and unbeatable hotel deals.</h5>
    </div>

        <div class="col-md-3">
          <img src={% static "images/firstapp/img4.jpg" %} alt="img" width="120%" height="100%">
      </div>
    </div>
  </div>
  <center>
    <div class="alert alert-warning" role="alert">
        <h4>All Rights Reserved     <a href="/" class="alert-link">BREEZE HOTELS</a><sup>         TM</sup></h4>
      </div></center>
</div>
{% endblock %}
</body>
</html>
